<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="storageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=storage1;AccountKey=hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhsgsgsgsgsgsgsgsgsgsgsgsgsg==;" />
    <add key="storageContainer" value="container1" />
    <add key="targetStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=storage2;AccountKey=ydydydydydydhdndhdttdjkdtrtrthrhrhrhhrhhrhrhrhrhrhrhrhrhrhrhrhrhrhrhh==;" />
    <add key="targetStorageContainer" value="container2" />
    <add key="maxThreads" value="5" />
  </appSettings>
</configuration>